@import "fonts";
$red: #d81516;
$pink: #f08482;
$blue: #1e3b4c;
$green: #74bdaf;
$fontsize: 13px;
$contentpadding: 70px;

html, body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  body {
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

html{
    overflow-x:hidden;
}


body {
    font-family: 'Pangram';
    font-weight: normal;
    font-style: normal;
    overflow-x:hidden;
    position:relative;
}



.socialimg{
    max-width: 719px;
    float: left;
}

div.wpcf7-mail-sent-ok {
    color: white!important;
}


p, .main-content ul{
    font-size: $fontsize;
    letter-spacing: -0.32px;
}

.container{
    width: 95%;
    max-width: 95%;
    &.container--small{
        max-width: 85%;
    }
}



.red-bg{
    background: $red;
}

.pink-bg{
    background: $pink;
    *{
        color: #fff;
    }
}

.blue-bg{
    background: $blue;
    *{
        color: $green;
    }
}

.form-control{
    border:0px!important;
}

.form-group{
    border-bottom: 1px solid white;
}

.textarea-border{
    border: 1px solid white;
}
.green-bg{
    background: $green;
    *{
        color: $blue;
    }
    .form-control{
        border: 1px solid $blue;
        color: $blue;
        &::placeholder{
            color: $blue;
        }
    }
    .btn-primary{
        background: $blue !important;
        color: #fff;
    }
}

.white-bg{
    *{
        color: $blue;
    }
}

.grey-bg{
    background: #f5f5f5;
}

.btn{
    border-radius: 0;
    box-shadow: none !important;
    border: 0;
    padding: 8px 50px;
}

.submit-contact{
    border-radius: 0%!important;
    //color:#00498D!important;
    background-color: rgba(0, 73, 141, 0.5)!important;
    border-color:none;
}

.submit-color{ 
    color:#00498D!important;
}

#wrapper{
    &.pink-default{
        #main-menu ul > li a{
            color: $red;
            &.active{
                color: #fff;
                transition: all 0.5s;
            }
        }
        #logo{
            img{
                &.red-logo{
                    opacity: 1;
                }
                &.white-logo{
                    opacity: 0;
                }
            }
        }
        #footer a{
            color: $red;
        }
    }
    &.blue-default{
        #main-menu ul > li a{
            color: #fff;
            &.active{
                color: #74BDAF;
                transition: all 0.5s;
            }
        }
    }
    &.green-default{
        #main-menu ul > li a{
            color: #fff;
            &.active{
                color: #1E3B4C;
                transition: all 0.5s;
            }
        }
    }
    &.white-default{
        #main-menu ul > li a{
            color: $red;
            &.active{
                color: #183647;
                transition: all 0.5s;
            }
        }
        #logo{
            img{
                &.red-logo{
                    opacity: 1;
                }
                &.white-logo{
                    opacity: 0;
                }
            }
        }
        #footer a{
            color: $red;
        }

        #brando-container {
            #brando {
                color: $red;
                transition: all 0.5s;
            }
        }
    }
    #main-menu ul > li a{
        font-family: 'PangramBlack';
        font-weight: 900;
        font-style: normal;
        font-size: 12px; 
    }
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    z-index: 99;
}

#logo{
    position: relative;
    img{
        max-width: 50px;
        transition: all 1.5s;
        &.red-logo{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
}

#main-menu{
    ul{
        > li{
            float: left;
            margin-right: 30px;
            &:last-child{
                margin-right: 0;
            }
            a{
                color: #fff;
                text-transform: uppercase;
                transition: color 1.5s
            }
        }
    }
}

#main-menu-blue{
    ul{
        > li{
            float: left;
            margin-right: 30px;
            &:last-child{ 
                margin-right: 0;
            }
            a{
                color: #00498D; 
                text-transform: uppercase;
                transition: color 1.5s
            }
        }
    }
}

#footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 30px;
    a{
        color: #fff;
        text-transform: uppercase;
        font-family: 'PangramBlack';
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        letter-spacing: 2px;
    }
}

@media (max-width: 3200px){
    .container {
        margin-left:0px;
    }
}
@media (min-width: 1440px){
    .container {
        max-width:1200px;
    }
}

.content-title{
    font-family: Helvetica;
    font-size: 45px;
    color: #00498D;
    padding-bottom:10px;
}
.bluenav{
    font-family: Helvetica;  color: #00498D; font-weight:900; font-weight:bold;
}
#brando-container{
    position: absolute;
    top: 325px;
    left: 0;
    right: 0;
    #brando{
        color: #fff;
        transform: rotate(-90deg);
        display: inline-block;
        position: absolute;
        left: -60px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        font-family: 'PangramBlack';
        font-style: normal;
        letter-spacing: 3px;
        transition: all 0.5s;
    }
}

#brando-container{
    position: absolute;
    top: 325px;
    left: 0;
    right: 0;
    #brando-red{
        color: #00498D;
        transform: rotate(-90deg);
        display: inline-block;
        position: absolute;
        left: -60px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        font-family: 'PangramBlack';
        font-style: normal;
        letter-spacing: 3px;
        transition: all 0.5s;
    }
}

.indicase-title{
    font-family: Helvetica;
    font-size: 45px;
    color: #00498D;
    font-weight:300;
    line-height: 60px;
}

.indicase-text p{
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    line-height: 25px;
}


.indicasestudy{
        max-width:400px;
        max-height:460px;
        right: 0;
        padding-right:0px;
        margin-right:0px;
        margin-right: 0px!important;
        margin: auto;
        margin-top:40%;
}

.wpgmza_gd{
    display:none;
}

.wpgmza_infowindow_title{
    font-family: Helvetica;
    font-size: 20px;
    color: #00498D;
}

.mapdiv{
    max-width:250px;
}

.wpgmza_infowindow_address{
    display:none;
}

.maptext{
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    text-align: left;
    line-height: 19px;
    padding-bottom:40px;
}

.gm-style .gm-style-iw-c {
    border-radius:0px!important;
    border: 1px solid #00498D;
    padding-top:40px;
    padding-left:40px;
}

.mapitem{
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    text-align: left;
    line-height: 25px;
    padding-top:3px;
    padding-bottom:3px;
    font-weight:bold;
}



.mapitem a{
    
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    text-align: left;
    line-height: 25px;
    padding-top:3px;
    padding-bottom:3px;
    font-weight:bold;
    
}

.gm-style-iw gm-style-iw





#brando-container-blue{
    position: absolute;
    top: 325px;
    left: 0;
    right: 0;
    #brando{
        color: #00498D;
        transform: rotate(-90deg);
        display: inline-block;
        position: absolute;
        left: -60px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        font-family: 'PangramBlack';
        font-style: normal;
        letter-spacing: 3px;
        transition: all 0.5s;
    }
}

.servicesoverviewcontent{
    margin:auto;
    max-width:850px;
}
.section{
    position: relative;
    > .container{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}



.projhometitle{
    font-family: Helvetica;
    font-size: 45px;
    color: #00498D;
    line-height: 60px;
    font-weight:300;
}

.main-title{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 900;
    font-family: 'PangramBlack';
    font-style: normal;
    letter-spacing: -0.5px;
}
.title{
    font-family: 'PangramLight';
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 30px;
}

.work-item{
    h5{
        font-size: $fontsize;
        line-height: 19px;
    }
}

.list-service{
    margin-bottom: 50px;
    &:nth-child(5) {
        margin-bottom: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    h3{
        font-size: 35px;
        font-family: 'PangramLight';
        font-weight: 200;
        font-style: normal;
        letter-spacing: -0.35px;
    }
    p{
        font-size: 13px;
    }
}

.text-area-text{
    color:white!important;
    background-color:transparent!important;
    height:250px;
}

.imagefill{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    //background-image: url('path/to/image.jpg');
}

.form-control{
    background: none;
    border-radius: 0;
    &:focus{
        background: none;
        box-shadow: none;
    }
}

.work-completed p{
    font-family: Helvetica;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    line-height: 25px;
}

.fontworksingle{
    font-family: Helvetica;
    font-size: 45px;
    color: #FFFFFF;
    line-height: 60px;
    font-weight: 400;
}

.largefonttext{
    font-family: Helvetica;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    line-height: 25px;
    font-weight: 400;
}

.servicescontent p{
        color:white;
}

.message{
    margin-top:10px;
}

textarea.form-control{
    height: 220px;
    resize: none;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: 100;
    font-style: normal;
    padding: 10px;
    color:white!important;
    background-color:transparent!important;
    box-shadow: none!important;
}




  
  .activeproject, .accordionproject:hover {
    background-color: white;
  }
  
  .accordionproject:after {
    content: '\2304';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size:30px;
  }
  
  .activeproject:after {
    content: "\2303";
    font-size:16px;
  }
  
  
  .panelproject {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }


input.form-control{
    height: 35px;
    font-size: 15px;
    font-family: Helvetica!important;
    font-weight: 100!important;
    font-style: normal;
    padding: 10px;
    padding-bottom:0px;
    padding-left:0px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    color:white!important;
    background-color: transparent!important;
    box-shadow: none!important;

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
      }
}

.contact-form{
    div.wpcf7-response-output{
        margin: 20px 0;
        text-align: center;
        border: 0;
        padding: 10px 15px;
        &.wpcf7-validation-errors, &.wpcf7-acceptance-missing{
            background: $red;
            color: #fff;
        }
    }
    .ajax-loader{
        position: absolute;
        right: 170px;
        top: 12px;
    }

    .message-contact-form{
        padding-left:0px;
    }

    .wpcf7 {
        .row {
            max-width: 532px;
            .form-group {
                margin-bottom: 8px;
            }
            .wpcf7-submit {
                font-size: 12px;
                font-family: 'Pangram';
                font-weight: normal;
                font-style: normal;
                float:left;
                border-color: rgba(0, 73, 141, 0.5);
                min-width:50%;
            }
        }
    }

    .wpcf7-form-control-wrap{
        display: block;
    }
    span.wpcf7-not-valid-tip{
        position: absolute;
        right: 6px;
        top: 6px;
        background: $red;
        color: #fff;
        font-size: 12px;
        padding: 3px 12px;
    }
}

.contact-details {
    margin-top: 30px;

    p {
        letter-spacing: 0;
        margin-bottom: 32px;
        color:white;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            &:hover {
                text-decoration: none;
                color: #1e3b4c;
            }
        }
    }
}

.work-item {
    margin-bottom: 40px;

    .work-item-block {
        max-width: 480px;

        img {
            width: 100%;
            margin-bottom: 11px;
        }

        h5 {
            font-size: 12px;
            font-family: 'PangramBlack';
            font-weight: 900;
            font-style: normal;
            margin: 0;
            text-transform: uppercase;

            span {
                font-family: 'Pangram';
                font-weight: normal;
                font-style: normal;
                text-transform: none;
            }
        }
    }
}

.show-btn-block {
    margin-top: 40px;

    .btn-block {
        border: 4px solid $red;
        color: $red;
        font-size: 12px;
        font-family: 'PangramBlack';
        font-weight: 900;
        font-style: normal;
        padding: 12px 0;
        max-width: 156px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
    }
}

.project-description{
    border-right: 1px solid $blue;
}

.work-completed{
    padding-left: $contentpadding - 15px;
}

.content-image{
    /*max-width: 750px;*/
    width: 100%;
    min-width: 50vw;
    min-height:50vh;
}

.line{
    height:140px;
    width:2px;
    margin-right:auto;
    margin-left:auto;
    background:black;
    margin-top:10px;
}

.services-content{
    font-size: 42px;
    font-family: 'PangramLight';
}

.services-leftbox { 
    float:left;  
    width:33%; 
    height:280px; 
} 
.services-middlebox{ 
    float:left;  
    width:33%; 
    height:280px; 
} 
.services-rightbox{ 
    float:right; 
    width:33%; 
    height:280px; 
} 

.services-line-pos{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.services-experts{
    font-size: 20px;
}

.work-section-with-bg{
    padding-top: 150px;
    padding-bottom: 150px;
}

.right-content-work-block{
    padding-left: $contentpadding;
}

.left-content-work-block{
    padding-right: $contentpadding;
}




    .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /*background-color: #00498D;*/
  background: rgba(0, 73, 141, 0.8); 
}

.viewcasestudy{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text { 
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.hometextoverlay { 
    color: white;
    font-size: 20px;
    position: absolute;
    width:70%;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.activenav{
    color: #00498D!important;
}
.activenavwhite{
    color: white!important;
}

.container:hover .overlay {
  opacity: 0.8;
}

.background-image-home{
    //background-image: url("http://erg.loc:8888/wp-content/uploads/2019/07/bgwithcovererg.png");
    background: url("../images/erglogo775px.png"), url("../images/erghomemed.png");
    background-position: right bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-attachment: absolute, fixed;
    background-size: auto, cover;
}

.background-layer-home{
        position: absolute;
}

.contentimagep p{
    font-family: Helvetica;
    font-size: 20px;
    color: #00498D;
    text-align: left;
    line-height: 25px;
}
.inditeamtitle{
    font-family: Helvetica;
    font-size: 25px;
    color: #00498D;
    line-height: 60px;
    font-weight:600;
}
.servicesoverviewbg{
    background-repeat:no-repeat;
    background-image: linear-gradient(to bottom, rgba(0,160,219,0.8), rgba(0,73,144,0.8));
    background-size: 100% 100%;
}

.servicesoverviewbgright{
    background-repeat:no-repeat;
    background-image: linear-gradient(to right, rgba(0,160,219,0.8), rgba(0,73,144,0.8));
    background-size: 100% 100%;
}




.casestudiesbgbottomop{
    background-repeat:no-repeat;
    background-image: linear-gradient(to right, rgba(0,160,219,0.8), rgba(0,73,144,0.8));
    background-size: 100% 20%;
    
}

.teampagebgbottomop{
    background-repeat:no-repeat;
    background-image: linear-gradient(to right, rgba(0,160,219,0.8), rgba(0,73,144,0.8));
    background-size: 100% 20%;
}

.servicesimg{
    //border-left: 5px solid #cccccc;
    border-right: 5px solid #cccccc;
    border-width:1px;
    min-height:200px;
    margin-bottom:25px;
} 

.brandoctext{
    font-family: Helvetica;
    font-size: 12px;
    color: #FFFFFF;
}

.footerlink-title{
    font-family: Helvetica;
    font-size: 25px;
    color: #FFFFFF;
    margin-top:15px;
    font-weight:600;
}



.ergfooterbg{
    background: url("../images/servicesoverviewbg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ergtextfooter{
    background: url('../images/ERG-logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    z-index:3;
}



.footerbg{
    background:#00498D;
    max-height:20px;
    min-height:20px;
}

.brandoalink{
    color:white;
}

.brandoalink:hover{
    color:white;
}

input[type="email"]::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
} 
  
input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: white; 
} 
  
input[type="email"]::-ms-input-placeholder { /* Microsoft Edge */ 
    color: white; 
} 

input[type="text"]::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
} 
  
input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: white; 
} 
  
input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */ 
    color: white; 
} 
input[type="textarea"]::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
} 
  
input[type="textarea"]:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: white; 
} 
  
input[type="textarea"]::-ms-input-placeholder { /* Microsoft Edge */ 
    color: white; 
} 

textarea::-webkit-input-placeholder {
    color: #ffffff;
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;  
  }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;  
  }
  
  textarea:-ms-input-placeholder {
    color: #ffffff;  
  }
  
  textarea::placeholder {
    color: #ffffff;  
  }
  textarea::placeholder {color: #fff!important;}



  .projects-collapsible {
    //background-color: #777;
    max-height:60px;
    color: #00498D;
    background-color:white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    //border-top: 5px solid #00498D;
  }
  
  .projects-active, .projects-collapsible:hover {
    background-color: rgb(0, 140, 255);
  }
  
  .projects-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .projects-container{
    border-bottom: 1px solid #00498D;
  }

  .projects-collapsible:after {
    content: '\2304';
    color: #00498D;
    font-weight: bold;
    float: right;
    font-size:35px;
    position:relative;
    top:-17px;

    //font-size:35px;
    margin-left: 5px;
  }
  .projects-container{
    .active:after {
        content: "\2303";
        //font-size: 35px;
        color: #00498D;
        font-weight: bold;
        font-size:19px;
        position:relative;
        top:0;
      }
      button:focus {outline:0;}

  }
  
 

  .project-home-text{
      padding-top:150px;
      max-width:700px;
  }

  .project-home-footer{
     /* position:absolute;
      bottom:0px;
      width:80%;
      margin-left:20%;
      margin-bottom:5%;
      right:10px;*/
      margin-top:10%;
  }

  .img-phome{
      padding:25px;
      border: 2px solid #00498D;
  }

 



  .project-home-main-image{
      height:100%;
  }

  

  

  .casestudiesbgtop{
    //background-image: url("http://erg.loc:8888/wp-content/uploads/2019/07/casestudiestop.png");
    //background-repeat:no-repeat;
    background: linear-gradient(90deg, #00A0DB, #004990);

    background-size:cover;
}
.casestudiesbgbottom{
    background-repeat:no-repeat;
    background-image: linear-gradient(90deg, #00A0DB, #004990);
    background-image: linear-gradient(to right, #00A0DB , #004990);
    background-size: 100% 20%;

}


.servicesoverviewbgbottom{

    
}

.casestudiesbgbottom{
    /*background-image: url("http://erg.loc:8888/wp-content/uploads/2019/07/casestudiesbottom.png");
    background-repeat:no-repeat;
    background-size:cover;*/
}

.tripleimg{
    top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    //padding-left: 20%;
}

.largefonttext{
    font-size:24px;
}

.casestudiesheight{

}

.link-triple{
    margin-top:10px;
    margin-bottom: 10px;
}

.header-triple{
    text-align:center; 
    margin-top:20px;
    font-size:24px;
}


.teampage-triple{
    text-align:left; 
    margin-top:30px;
    margin-bottom:10px;
    font-size:13px;
    font-family: Helvetica; 
    font-size: 12px; 
    color: #33B3E3; 
    letter-spacing: 1.5px;
}

.teammembertitle-triple{
    font-family: Helvetica;
    font-size: 12px;
    color: #33B3E3;
    letter-spacing: 1.5px;
}

.teammembername-text{
    font-family: Helvetica;
    font-size: 20px;
    color: #00498D;
    line-height: 25px;
}



.teampage-content{
    font-family: Helvetica;
    font-size: 20px;
    color: #00498D;
    line-height: 25px;
}

.link-teampage{
    margin-top:30px;
    margin-bottom: 60px;
    font-size:11px;
        #{a} {
            color: #00498D;
        }
    color: #00498D;
    font-family: Helvetica;
}

.teampageind-title{
    font-family: Helvetica;
    font-size: 16px;
    color: #33B3E3;
    letter-spacing: 2px;
    font-weight: 900;
}

.teampageind-content{
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    line-height: 25px;
}

.mainimage-title{
    font-family: Helvetica;
    font-size: 45px;
    color: #00498D;
    line-height: 60px;
}



.mainimage-bigtext{
    font-family: Helvetica;
    font-size: 20px;
    color: #00498D;
    line-height: 25px;
    margin-bottom:10px;
}
.mainimage-bigtext p{
    font-family: Helvetica;
    font-size: 20px;
    color: #00498D;
    line-height: 25px;
    margin-bottom:10px;
}

.mainimage-text{
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    line-height: 25px;
}

.mainimage-text p{
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    line-height: 25px;
}

.main-middletext{
    margin:auto;
}

.main-footer{
    bottom: 0px;
    width: 80%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.main-related{
    margin-right:-5%;
}

.main-footer-bg{
    background-repeat:no-repeat;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,160,219,0.1));
    background-size: 100% 100%;
    opacity: 10%;
}

.link-main{
        a{
            color:black;
            font-size:12px;
            letter-spacing: 1.5;
            color: #00498D;
    }
}


.fa-twitter:before {
    content: "\f099";
  }


 

  

  .ctf-no-bio{
      display:none;
  }

  #ctf-more{
      display:none!important;
  }

  .header-blog{
    margin-top:30px;
    font-family: Helvetica;
    font-size: 24px;
    color: #00498D!important;
    line-height: 25px;
    font-weight:bold;
  } 

  .header-content{
    font-family: Helvetica;
    font-size: 20px;
    color: #00498D;
    line-height: 25px;
  }

  .two-content{
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    line-height: 25px;
    margin:auto;
    max-width:80%;
    margin-bottom:24px;
    font-weight: normal;
  }

  
  .header-two{
    margin-top:30px;
    font-family: Helvetica;
    font-size: 24px;
    color: #00498D!important;
    line-height: 25px;
    font-weight:500;
    margin: auto;
    max-width: 80%;
  }

  .social-two-content{
      padding-left:35px;
      padding-right:35px;
      padding-top:30px;
      padding-bottom:30px;
  }
  #ul-menu{
      display:block;
  }
  @media only screen and (max-width: 1000px) {

    #main-menu {
      display: none;
    }
    #brando{
        display:none !important;
    }
    #brando-red{
        display:none !important;
    }
  }

  @media only screen and (max-width: 1399px) {
    .brando-container{
        #brando{
            left:-60px;
        }
    }
  }



.latest-title{
    font-family: Helvetica;
    font-size: 45px;
    color: #00498D;
    line-height: 60px;
}

.latest-triple{
    font-family: Helvetica;
    font-size: 20px;
    color: #00498D;
    line-height: 25px;
    padding-top:20px;
    padding-left:4px;
}

.latest-text{
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    line-height: 25px;
    padding-left:4px;
}



.link-latest a{
    font-family: Helvetica;
    font-size: 12px;
    color: #00498D;
    line-height: 25px;
    letter-spacing:1.5;
    font-weight: 600;
}
.link-latest{
    margin-top:10px;
    margin-bottom:30px;
    padding-left:4px;
}


@media only screen and (min-width: 601px) {
    .firstblogstylesmall{
        
    }
    .tweetdisplay2{
        display:none;
    }
    .project-text-w{
        max-width:500px; padding-top:0px; margin:auto;
    }
    .resize-text{
        max-width:500px!important;
        margin:auto;
    }
    .ctf-item{
        max-width:50%;
        border-top:none!important;
        padding-left: 5px!important;
    }
    .indiblogpadlg10{
        padding-left:15px;
        padding-right:15px;
    }
  }

  @media only screen and (max-width: 600px) {
      .indiblagtriplepadleft{
          margin-left:0px!important;
      }
      .firstindirelatedtoppad{
          padding-top:30px!important;
      }
    .smallindividualblogpad{
        padding:0!important;
    }
      .indiblogpadlg10{
          padding:0!important;
      }
    .firstblogstylemain{
        padding-bottom: 10px!important;
        margin: 0;
        max-width: 100vw;
        min-width: 100%;
        padding: 0;
        /* padding-right: 100px; */
        width: 100%;
        padding-top: 100px!important;
        padding-left:0px!important;
        padding-right:0px!important;
    }
    .firstblogstylesmall{
        padding-bottom: 10px!important;
        margin: 0;
        max-width: 100vw;
        min-width: 100%;
        padding: 0;
        /* padding-right: 100px; */
        width: 100%;
        padding-left:0px!important;
        padding-right:0px!important;
    }
    .ctf-item{
        max-width:100%;
        border-top:none!important;
        padding-left: 20px!important;
    }
    .project-text-w{
        max-width:300px; padding-top:0px; margin:auto;
    }
    .resize-text{
        max-width:80%!important;
    }
    .inditeamtext{
        margin:auto;
        //margin-left:0px;
        max-width:450px;
    }
  }
  @media only screen and (max-width: 470px) {
    .inditeamtext{
        margin:auto;
        max-width:85%;
    }
  }
  @media only screen and (max-width: 470px) {
    .inditeamtext{
        margin:auto;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
  }

  @media only screen and (min-width: 1400px) {
    .brando-container{
        #brando{
            left:-20%;
        }
    }
  }

  .casenavtext{
    font-family: Helvetica;
    font-size: 16px;
    color: #00498D;
    width:40vw;
    text-align:right;
    font-weight: 600;
  }


 

  .navonpage{
    font-family: Helvetica;
    font-size: 16px;
    color: #00498D;
  }
  @media only screen and (max-width: 500px){
    .imagew100services{
        width:100vw!important;
    }
  }

  @media only screen and (min-width: 992px) {
      .ml0{
          margin-left:0px!important;
      }
      .nopl{
          padding-left:0px!important;
      }
      .globalpl0ml0{
          padding-left:0px;
          margin-left:0px;
      }
      .servicesmargin{
          margin-left:20%!important;
      }
      .nopad992{
          padding-left:0px!important;
      }
      .padright20{
          padding-right:20%;
      }
      .padleft25{
          padding-left:20%!important;
      }
      .pl16{
          padding-left:10px;
      }
      .pl12{
          padding-left:12px;
      }
      
      
    .contact-us-text{
        font-family: Helvetica;
        font-size: 15px;
        color: #FFFFFF;
        font-weight:100;
    }
    .firstblogstylemain{
        padding-top:200px!important;
    }
    .latestnews-title{
        font-family: Helvetica;
        font-size: 45px;
        color: #00498D;
        line-height: 60px;
        padding-left:14px;
        padding-top:150px;
        padding-bottom:40px;
    }
    .img-phome-noborder{
        padding:25px;
        border: 2px solid #00498D;
    }
      .socialtextpos{
          order:2;
      }
      .socialimagepos{
          order:1;
      }
    .indiblognavtextleft{
        font-family: Helvetica;
        font-size: 16px;
        color: #00498D;
        width: 23vw;
        text-align:left;
      }
      .indiblognavtextright{
        font-family: Helvetica;
        font-size: 16px;
        color: #00498D;
        width: 23vw;
        text-align:right;
      }
    .latestnavpad{
        margin-top:5px;
        margin-bottom:5px;
    }
        .indiblogtitle{
            font-family: Helvetica;
            font-size: 45px;
            color: #00498D;
            line-height: 60px;
            padding-bottom:30px;
        }
      .individualblogpadtoptwitter{
          padding-top:40px;
      }
        .ctf-item{
            max-width:400px;
            border-top:none!important;
            padding-left: 25px!important;
        }
      .twitterfollowtext{
        font-family: Helvetica;
        font-size: 25px;
        color: #00498D;
        line-height: 60px;
      }
    .ctf-tweets{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }
      .main-footer-text{
          padding-left:0px;
          padding-top:0px;
      }
      .indiprojpad{
          padding-top:0px;
      }
    .projects-home{
        margin-top:100px;
    }

    .accordionproject {
        font-family: Helvetica;
        font-size: 20px!important;
        color: #00498D!important;
        line-height: 25px;
        background:white;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }
      

      .M90L{
          margin-left:90;
      }
      .indicasepad{
          margin-top:85px;
          margin-bottom:50px;
      }
      .casestudysecond{
          display:flex;
      }
        .casenav{
            display:none;
        }
      .bg640{
          height: 640px!important;
      }

    .serviceshometext{
        padding-left:15px;
        margin-left:auto;
        margin-right:auto;
        max-width:85%;
    }

    .servicespb{
        padding-bottom:100px;
    }

    .footermarginb{
        margin-bottom:15px;
    }

    .contactma{
        margin:auto;
        padding-left:0px!important;
    }

    .newbg{
        background: url("../images/erglogo775px.png"), url("../images/contactbg.png");
        background-position: right bottom, center;
        background-repeat: no-repeat, no-repeat;
        background-attachment: absolute, fixed;
        background-size: auto, cover;
    /*
        background-repeat:no-repeat;
        background-image: linear-gradient(to bottom, rgba(0,128,193,0.8), rgba(0,79,147,0.8));*/
    }

    .brandofooterpad{
        padding-bottom:20px; 
    }
    

    .timg-phome{
        padding:25px;
        border: 2px solid #00498D;
    }

    .contact-form{
        .message-contact-form{
            padding-left:0px;
            margin-bottom:30px;
        }
    }

    .container{
        &.global--small{
            max-width:85%;
        }
    }

    .globalptitle{
        margin-top:0px;
        font-family: Helvetica;
        font-size: 45px;
        color: #00498D;
    }
    .p100l{
        padding-left:100px;
    }
    
    .maxwidth16{
        max-width:16.666667vw;
        min-width:16.666667vw;
      }

      .minwidth16{
        min-width:16.666667vw;
      }

    .section{
        > .container{
            margin-right:0px;
        }
    }

    .servicescontent{
        height:200px;
    }

    .teampagepaddingtop{
        padding-top:0px;
    }

    .latest-title{
        padding-top:200px;
    }

    .ftmsection{
        padding-top:250px;
    }
    .img-order{
        order:none;
        padding-left:15px!important;
        padding-top:0px;
        padding-bottom:0px;
    }
    .padding-right{
        padding-right:10%;
    }

    .margin-2{
        margin-left:20%;
    }
    .navfloat{
        float:right;
    }
    .navbaritemz{
        padding-top:0px;
    }
    .project-home-image{
        max-width:400px;
        max-height:460px;
        right: 0;
        padding-right:0px;
        margin-right:0px;
        margin-right: 0px!important;
        margin: auto;
    }
    
  }
  @media only screen and (max-width: 400px) {
    .marginleftproject{
        margin-left:5%;
    }
  }
  @media only screen and (max-width: 500px) {
    .marginleftproject{
        margin-left:10%;
    }
    #header{
        margin-right:-5%!important;
    }
  }
  @media only screen and (max-width: 600px) {
    .marginleftproject{
        margin-left:15%;
    }
    .tweetdisplay2{
        display:block;
    }
    
  }
  @media only screen and (min-width: 601px) {
    .marginleftproject{ 
        margin-left:15%;
    }
  }
  @media only screen and (min-width: 750px) {
    .marginleftproject{
        margin-left:20%;
    }
  }

  .imglatestnewsmw{
      max-width:360px!important;
  }

  @media only screen and (min-width:500px) and (max-width: 991px) {
    
    .casestudieshomeimagewidth{
        margin: auto!important;
        max-width: 391.59px;
    }
    .minw90500991{
        min-width:90vw!important;
        margin-left:0px!important;
    }

}
    a[href^="tel"]{
        color:inherit;
        text-decoration:none;
    }
  @media only screen and (max-width: 991px) {
      .noml{
          margin-left:0px!important;
      }
      .nopl{
          padding-left:0px!important;
      }
    .padleft99110{
        padding-left:10%!important;
    }
    .nomarginl991{
        margin-left:0px!important;
    }
    .nopad992{
        padding-left:0px!important;
    }
    .padleft25{
        padding-left:10%!important;
    }
    .pl16{
        padding-left:12px;
    }
    .pl12{
        padding-left:12px;
    }
    
    .sectionservicefooter{
        margin-top:50px;
    }
    .contact-us-text{
        font-family: Helvetica;
        font-size: 15px;
        color: #FFFFFF;
        font-weight:400;
    }
    .globalbtext p{
        font-family: Helvetica;
        font-size: 18px;
        color: #00498D;
        text-align: left;
        line-height: 25px;
        font-weight: 500;
    }
      .hideservicesimagefront{
          display:none;
      }
    
    .latestnews-title{
        font-family: Helvetica;
        font-size: 35px;
        color: #00498D;
        line-height: 60px;
        padding-top:150px;
        padding-bottom:25px;
    }
    .img-phome-noborder{
        padding:0px;
        border: 0px solid #00498D;
    }
    .indicasestudyhideimage{
        display:none!important;
    }
      
    .ergservivesimage{
        margin: auto;
        max-width: 50%;
      }
    
    .socialtextpos{
        order:1;
    }
    .socialimagepos{
        order:2;
    }
      .indiblogrelatedpad{
          padding-bottom:0px!important; 
      }
    .indiblognavtextleft{
        font-family: Helvetica;
        font-size: 16px;
        color: #00498D;
        width: 50%;
        text-align:left;
        padding-left:10px;
      }
      .indiblognavtextright{
        font-family: Helvetica;
        font-size: 16px;
        color: #00498D;
        width: 50%;
        text-align:right;
        padding-right:10px;
      }
    .firstindirelatedtoppad{
        padding-top:10px!important;
    }
    .indibloghideimage{
        display:none!important;
    }
      
    .indiblogtitle{
        font-family: Helvetica;
        font-size: 35px;
        color: #00498D;
        line-height: 60px;
        padding-bottom:30px;
    }
    .individualblogpadtoptwitter{
        padding-top:5px;
    }
    .twitterfollowtext{
        font-family: Helvetica;
        font-size: 30px;
        color: #00498D;
        line-height: 60px;
      }
    .ctf-tweets{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        padding-left:20px;
      }
    .paddinglefttwitter{
        padding-left:14px!important;
    }
    .main-footer-text{
        padding-left:0px;
        padding-top:25px;
    }
    .indiblogpadtop{
        padding-top:50px;
    }
    .indiprojpad{
        padding-top:50px;
    }
    .projects-home{
        margin-top:70px;
    }
    .accordionproject {
        font-family: Helvetica;
        font-size: 16px!important;
        color: #00498D!important;
        line-height: 25px;
        background:white;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }
    .filter-padding{
        padding-right:25px!important;
        padding-left:25px!important;
        padding-bottom:65px;
        padding-top:65px;
    }
      .teampagetriplerow{
        margin:auto!important;
        max-width:335px;
    }
      .teampagemobilepad{
          padding-bottom:30px!important;
      }
    .leftindipad{
        text-align:left;
        padding-left:30px;
    }
    .rightindipad{
      text-align:right;
      padding-right:30px;
    }
    .indicasenavtext{
        font-family: Helvetica;
        font-size: 16px;
        color: #00498D;
        width:50vw;
        text-align:right;
      }
    .M90L{
        margin-left:auto;
    }
    .marginautoindicase{
        margin:auto;
    }
    .indicasepad{
        margin-top:50px;
        margin-bottom:50px;
    }
    .latestnavpad{
        margin-top:30px;
        margin-bottom:20px;
    }

    .casestudiestriplecol{
        max-width: 360px;
        margin: auto;
    }
      .hideonmobile{
          display:none!important;
      }
    .casenavhide{
        display:flex;
    }
    .casestudysecond{
        display:none!important;
    }
    .bg640{
        height: auto!important;
    }
    .bgwidthcontent{
       
        height:600px;
        background-size: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position: left;
    }
    .bgwidthcontentright{
       
        height:600px;
        background-size: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position: right;
    }

    .serviceshometext{
        padding-left:0px!important;
        margin-left:0px!important;
        margin-right:auto;
        max-width:100%!important;
    }
    .servicespb{
        padding-bottom:50px;
    }
    .footermarginb{
        margin-bottom:0px;
    }
    .newbg{
        background: url("../images/erg320logo.png"), url("../images/contactbg.png");
        background-position: right 99%, center;
        background-repeat: no-repeat, no-repeat;
        background-attachment: absolute, fixed;
        background-size: auto, cover;
    /*
        background-repeat:no-repeat;
        background-image: linear-gradient(to bottom, rgba(0,128,193,0.8), rgba(0,79,147,0.8));*/
    }
    .brandofooterpad{
        padding-bottom:120px; 
    }
    
    .teammemberhome{
        padding-left:0px; padding-right:0px; padding-top:125px; max-width:85%; margin:auto;
    }
    .timg-phome{
        padding:0px;
        padding-bottom:25px;
        border: none;
    }
    .contact-form{
        .message-contact-form{
            padding-left:0px;
            margin-bottom:200px;
        }
    }
    .left-content-teampage{
        padding-right: 0px;
    }
    .container{
        &.global--small{
            max-width:100%;
        }
    }
    .servicescontentwithimage{
        //display:none;
        min-width:50vw;
        margin:auto;
        
    }
    .maxwidth16{
        max-width:50vw;
        //min-width:50vw;
      }
    #teampagecontainertop{
        //padding-top:460px;
        margin-right:auto;
    }
    .casestudiesbgbottomop {
        background-size:100% 15%;
    }
    .teampagebgbottomop{
        background-size:100% 6%;
    }
    .p100l{
        padding-left:0px;
        margin-left:0px!important;
    }

    .latest-title{
        padding-top:10px;
    }

    .ftmsection{
        padding-top:20px;
    }
    .margin-2{
        margin-left:auto;
        margin-right:auto;
    }
    .padding-right{
        margin-right:0px;
    }
    .img-order{
        order:2;
        padding-left:30px!important;
        padding-top:45px;
        padding-bottom:25px;
    }

    .project-home-image{
        max-width:400px;
        max-height:460px;
        right: 0;
        padding-right:0px;
        margin: auto!important;
    }
    .navfloat{
        float:none;
    
    }
    .navbaritemz{
        padding-top:0px;
        padding-left: 35px;
        margin:auto;
        max-width:400px;
    }
  }

  .imgh4{
      max-height:400px;
      max-width:300px;
  }

  .header .open-mob-menu-btn {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        padding: 10px 6px;
        font-size: 16px;
        color: #181818;
        height: 16px;
        transition: all 0.2s;
        z-index: 2;
    }

    .header .open-mob-menu-btn__icon, .header .open-mob-menu-btn__icon::before, .header .open-mob-menu-btn__icon::after {
        width: 16px;
        height: 3px;
        background-color: #181818;
        display: inline-block;
    }

    .header .open-mob-menu-btn__icon {
        position: relative;
    }
    .mob-white{
        a{
            color:white;
        }
    }

    .mob-blue{
        a{
            color:blue;
        }
    }
    
    .erg-h{
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
          }
          
          .topnav {
            overflow: hidden;
            background-color: #333;
          }
          
          .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          .topnav a.active {
            background-color: #4CAF50;
            color: white;
          }
          
          .topnav .icon {
            display: none;
          }
         
          
          @media screen and (max-width: 600px) {
            
            .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
              float: right;
              display: block;
            }
            .marginleftproject{
                margin-left:10%;
            }
          }
          
          @media screen and (max-width: 600px) {
            .topnav.responsive {position: relative;}
            .topnav.responsive .icon {
              position: absolute;
              right: 0;
              top: 0;
            }
            .topnav.responsive a {
              float: none;
              display: block;
              text-align: left;
            }
          }
    }

    .header__list-item a {
        text-align: center;
        font-size:16px;
    }

    .header__list{
        display:block;
    }

    @media only screen and (max-width: 7167px){
        .header .header__list-item a {
        text-align: center;
        font-size: 16px;
        }
    }

    .navhover a:hover{
        color:#00498D;
    }

    .nav-item a:hover{
        color:#00498D!important;
    }

    .header__list-item a {
        display: block;
        color: #242424;
        font-family: "Gotham L", sans-serif;
        text-transform: uppercase;
        box-sizing: content-box;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
    }

  

.navbar-toggler-icon{
    background-image: url("../images/whitearrows.png")!important;
}

.icon-blue{
    background-image: url("../images/bluearrows.png")!important;
}
    
.navbar-toggler{
    border:none!important;
}

@media only screen and (max-width: 999px){
    
    .frontpagetitle{
        padding-left:10%;
        max-width:800px;
    }
   
}

.servicesotitle{
    color:white; padding-left:20%; padding-top:10%; margin-bottom:0px;
}


.frontpagetitle{
    color:white;
     text-align:left; 
      margin:auto; 
      font-size:42px;     
      margin:auto;
      padding-top:250px;
      max-width:950px;
      margin-right:3%;
      //padding-left:25%; 
      //position: relative;
}

    




@media only screen and (max-width: 991px){
    .indicasefontchange{

    }
    .latesttwitter{
        padding-left: 0px;
        font-family: Helvetica;
        font-size: 30px;
        color: #00498D;
        line-height: 60px;
        padding-top:0px;
    }
    .teampagetriplerow{
        margin:auto;
        max-width:335px;
    }
    .teampagephoto{
        max-width: 335px!important;
    }
    .contactma{
        margin:none;
        padding-left:12px!important;
    }
    .servicesmarginl{
        margin-left:40px;
        margin-right:0px;
    }
    .teamhomearrows{
        max-width: 50%;
        margin-left: 0px;
        margin-right: 50px;
    }

    .globalptitle{
        margin-top:40px;
        font-family: Helvetica;
        font-size: 28px;
        color: #00498D;
        min-width:100vw;
    }


.serviceshometitle{
    font-family: Helvetica;
    font-size: 30px;
    color: #FFFFFF;
}

    .servicesoverviewtitle{
        padding-left:0px!important; 
        padding-top:50px!important;
    }

    .section{
        > .container{
            margin-right:auto;
        }
    }

    .servicesimg {
        display: none; 
    }

    .teampagepaddingtop{
        padding-top:200px;
    }
    

    .globalcontent{
        max-width:90%;
        margin-left:0px;
        margin-bottom:10px;
    }
    .casestudiesheight{
        max-height:8000px!important;
    }
    .emptybox {
        display: none;
    }
    .servicescontent{
        max-width:85%; 
        height:auto;
    }

    .servicesubtitle{
        font-family: Helvetica;
        font-size: 20px;
        color: #FFFFFF;
        font-weight:600;
    }
    .frontpagetitle{
        padding-left:10%;
        font-size:30px;
        max-width:950px;
    }
    .imghoverw{
        min-width: 100vw;
    }

   
    .servicesotitle{
        padding-left:30px;
    }
    .serviceshometitle{
        padding-left:8%;
    }
    .serviceslinktext{
        padding-left:8%;
    }

    .a20padding{
        padding-left:35px;
    }

    .nav-link {
        text-align: center;
        font-size:40px;
        font-weight:bold!important;
    } 
    .nav-item:hover{
        color:00498D;
    }
    .header-div{
        margin-left:0px!important;
    }

    .navbarfr{
        float:none;
    }
    
    .tripleimgsize{
        max-height:650px!important;
        max-width:450px!important;

    }
    
    


}
@media only screen and (max-width: 767px){
    .small-project-home{
        width:100vw;
    }
    .projimgwidth{
        width:100%!important;
    }
    .casestudymainimage{
        min-width:100vw;
      }
      .hideonmobilelate{
          display:none;
      }
      .from50to100{
          max-width:100vw!important;
      }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .from50to100{
        max-width:50vw!important;
    }
}


@media only screen and (min-width: 768px){
    .hideonmobilelate{
        display:block;
    }
    
    .small-project-home{
        width:25vw;
    }
    .projimgwidth{
        width:50%!important;
    }
    .casestudymainimage{
        min-width:100%;
    }
}

@media only screen and (max-width: 450px){
    .navbarfr{
        float:left;
    }
}

.teamtriplecol{
    min-width:250px;
}

.casestudybigtext{
    font-family: Helvetica;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    line-height: 25px;
    padding-bottom:20px;
}

.casestudytitle-triple{
    font-family: Helvetica;
    font-size: 20px;
    color: #00498D;
    line-height: 25px;
    padding-top:20px;
}

.casestudycontent-text{
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    line-height: 25px;
    font-weight:100;
}

.link-casestudy a{
    font-family: Helvetica;
    font-size: 12px;
    color: #00498D;
    line-height: 25px;
    font-weight:bold;
}
.link-casestudy{
    padding-bottom:45px;
    padding-top:15px;
}

.strongwordpress strong{
    font-family: Helvetica;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    line-height: 25px;
    font-weight: 500;
}

.strongwordpress p{
    font-family: Helvetica;
    font-size: 14px;
    font-weight:300;
    
}


@media only screen and (min-width: 992px){
    #header{
        margin-right:7%;
    }
    .globalbtext p{
        font-family: Helvetica;
        font-size: 20px;
        color: #00498D;
        text-align: left;
        line-height: 25px;
    }
    .latesttwitter{
        padding-left: 0px;
        font-family: Helvetica;
        font-size: 25px;
        color: #00498D;
        line-height: 60px;
        padding-top:0px;
    }
    .paddinglefttwitter{
        padding-left:15px;
    }
    .indiblogpadtop{
        padding-top:70px;
    }
    .filter-padding{
        padding-right:100px!important;
        padding-left:100px!important;
        padding-bottom:65px;
        padding-top:65px;
    }

    .teampagetriplerow{
        margin:auto;
        max-width:initial;
    }
    .teampagephoto{
        max-width: 100%;
    }
    .teampagemobilepad{
        padding-bottom:100px;
    }
    .leftindipad{
        text-align:center;
        padding-left:30px;
        margin: auto;
    }
    .rightindipad{
      text-align:center;
      padding-right:30px;
      margin: auto;
    }
    .indiasenavtext{
        font-family: Helvetica;
        font-size: 16px;
        color: #00498D;
        width:40vw;
        text-align:right;
      }
    .marginautoindicase{
        margin:none;
    }
    
    .from50to100 {
            max-width: auto;
            min-width: auto;
    }
    .hideonmobile{
        display:block;
    }
    .hideonmobilelate{
        display:block;
    }
    .casenavhide{
        display:none!important;
    }
    .bgwidthcontent{
        height: -webkit-fill-available;
        height: moz-availabe;
        background-size: 50%;
        //background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position: left;
    }
    .bgwidthcontentright{
        height: -webkit-fill-available;
        height: moz-availabe;
        background-size: 50%;
        //background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position: right;
    }

    .teamhomearrows{
        max-width: 50%;
    }
    .left-content-teampage{
        padding-right: $contentpadding;
    }

    .teammemberhome{
        padding-left:0px; padding-right:0px; padding-top:200px; max-width:85%; padding-left:35px;
    }

.serviceshometitle{
    font-family: Helvetica;
    font-size: 45px;
    color: #FFFFFF;
}
    .servicescontentwithimage{
        display:block;
        min-width:50vw;
        max-width:50vw;
        margin:auto;
    }

    .servicescontentwithimageright{
        display:block;
        min-width:50vw;
        max-width:50vw;
        margin:auto;
        margin-left:0px;
        height:640px;
    }

    .servicescontentwithimageleft{
        display:block;
        min-width:50vw;
        max-width:50vw;
        margin:auto;
        margin-right:0px;
        height:640px;
    }
    .servicesoverviewtitle{
        padding-left:0px!important; 
        padding-top:120px!important;
    }
    #teampagecontainertop{
        padding-top:45px;
        margin-right:0px;
    }

    .casestudiesbgbottomop {
        background-size:100% 20%;
    }

    .teampagebgbottomop{
        background-size:100% 20%;
    }

    .casestudiesheight{
        max-height:600px!important;
    }
    .globalsection{
        min-height:0px;
    }
    .globalcontent{
        max-width:500px!important;
        margin-left:auto;
        margin-bottom:100px;
    }
    .inditeamtext{
        margin:auto;
        margin-left:0px;
        max-width:500px;
    }
    .homepadleft{
        padding-left:25%;
        padding-right:25%;
    }
    .frontpagetitle{
        padding-left:25%;
        font-size:42px;
    }
    .servicesotitle{
        padding-left:25%;
    }
    .serviceshometitle{
        padding-left:0px;
    }
    .serviceslinktext{
        padding-left:1px;
    }

    .a20padding{
        padding-left:25%;
    }

    .navbarfr{
        float:none;
    }
}

.displaynone{
    display:none!important;
}

.toggledisplay{
    display:block;
}

.emptybox{
    height:200px;
}

.servicescontent{
    margin-bottom:20px;
    margin:auto;
}

.header-toggle-white{
    //background: linear-gradient(90deg, #00A0DB, #004990);
}
 
.work-template-default{
    
}





.globaltext p{
    font-family: Helvetica;
    font-size: 14px;
    color: #00498D;
    text-align: left;
    line-height: 20px;
    font-weight: 1000;
}
